<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <title th:text="|writory|"></title>
    <th:block th:replace="fragment :: meta"></th:block>
    <th:block th:replace="fragment :: css"></th:block>
    <th:block th:replace="fragment :: js"></th:block>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main th:class="|uk-container|"
      th:uk-height-viewport="|expand: true|">
    <ul th:class="|uk-margin uk-margin-large-top uk-tab|">
        <li>
            <a th:href="@{/dashboard/item}"
               th:text="|投稿|"></a>
        </li>
        <li th:class="|uk-active|">
            <a th:href="@{/dashboard/configuration}"
               th:text="|設定|"></a>
        </li>
    </ul>
    <div th:class="|uk-grid-match uk-grid-small uk-margin|"
         th:uk-grid="|uk-grid|">
        <div th:class="|uk-width-1-1 uk-width-1-2@m|">
            <div th:class="|uk-card uk-card-body uk-card-default uk-card-small|">
                <h2 th:class="|uk-card-title uk-text-truncate|"
                    th:text="|メールアドレスの変更|"></h2>
                <form th:action="@{/dashboard/configuration/email}"
                      th:class="|uk-form-stacked|"
                      th:method="|post|">
                    <div th:class="|uk-margin|">
                        <label th:class="|uk-form-label|"
                               th:for="|email|"
                               th:text="|メールアドレス|"></label>
                        <div th:class="|uk-form-controls|">
                            <div th:class="|uk-inline uk-width-1-1|">
                                <span th:class="|uk-form-icon|"
                                      th:uk-icon="|icon: mail|"></span>
                                <input th:autocomplete="|email|"
                                       th:class="|uk-input|"
                                       th:id="|email|"
                                       th:name="|email|"
                                       th:type="|email|"
                                       th:value="${user.email}">
                            </div>
                        </div>
                    </div>
                    <div th:class="|uk-margin-top|">
                        <div th:class="|uk-text-right|">
                            <button th:class="|uk-button uk-button-primary|"
                                    th:text="|変更|"
                                    th:type="|submit|"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div th:class="|uk-width-1-1 uk-width-1-2@m|">
            <div th:class="|uk-card uk-card-body uk-card-default uk-card-small|">
                <h2 th:class="|uk-card-title uk-text-truncate|"
                    th:text="|パスワードの変更|"></h2>
                <form th:action="@{/dashboard/configuration/password}"
                      th:class="|uk-form-stacked|"
                      th:method="|post|">
                    <div th:class="|uk-margin|">
                        <label th:class="|uk-form-label|"
                               th:for="|currentPassword|"
                               th:text="|現在のパスワード|"></label>
                        <div th:class="|uk-form-controls|">
                            <div th:class="|uk-inline uk-width-1-1|">
                                <span th:class="|uk-form-icon|"
                                      th:uk-icon="|icon: lock|"></span>
                                <input th:autocomplete="|current-password|"
                                       th:class="|uk-input|"
                                       th:id="|currentPassword|"
                                       th:name="|currentPassword|"
                                       th:type="|password|">
                            </div>
                        </div>
                    </div>
                    <div th:class="|uk-margin|">
                        <label th:class="|uk-form-label|"
                               th:for="|newPassword|"
                               th:text="|新しいパスワード|"></label>
                        <div th:class="|uk-form-controls|">
                            <div th:class="|uk-inline uk-width-1-1|">
                                <span th:class="|uk-form-icon|"
                                      th:uk-icon="|icon: lock|"></span>
                                <input th:autocomplete="|new-password|"
                                       th:class="|uk-input|"
                                       th:id="|newPassword|"
                                       th:name="|newPassword|"
                                       th:type="|password|">
                            </div>
                        </div>
                    </div>
                    <div th:class="|uk-margin-top|">
                        <div th:class="|uk-text-right|">
                            <button th:class="|uk-button uk-button-primary|"
                                    th:text="|変更|"
                                    th:type="|submit|"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>
