<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <title th:text="|writory|"></title>
    <th:block th:replace="fragment :: meta"></th:block>
    <th:block th:replace="fragment :: css"></th:block>
    <th:block th:replace="fragment :: js"></th:block>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main th:class="|uk-container|"
      th:uk-height-viewport="|expand: true|">
    <ul th:class="|uk-margin uk-margin-large-top|"
        th:uk-tab="|uk-tab|">
        <li th:class="|uk-active|">
            <a th:href="@{/dashboard/item}"
               th:text="|投稿|"></a>
        </li>
    </ul>
    <form th:action="@{/dashboard/item}"
          th:class="|uk-margin uk-text-right|"
          th:method="|post|">
        <button th:class="|uk-button uk-button-primary|"
                th:text="|投稿の追加|"
                th:type="|submit|"></button>
    </form>
    <div th:class="|uk-grid-match uk-grid-small uk-margin|"
         th:uk-grid="|uk-grid|">
        <div th:class="|uk-width-1-1 uk-width-1-2@m|"
             th:each="item : ${itemList}">
            <div th:class="|uk-card uk-card-body uk-card-default uk-card-small|">
                <h3 th:class="|uk-margin-remove uk-text-truncate|"
                    th:if="${item.title} == ''"
                    th:text="|&nbsp;|"></h3>
                <h3 th:class="|uk-margin-remove uk-text-truncate|"
                    th:if="${item.title} != ''"
                    th:text="${item.title}"></h3>
                <div th:class="|uk-flex uk-flex-between uk-flex-bottom uk-text-right|">
                    <span th:class="|uk-text-meta|"
                          th:text="${#temporals.format(item.modified, 'yyyy/MM/dd HH:mm')}"></span>
                    <div th:class="|uk-button-group|">
                        <a th:class="|uk-button uk-button-default uk-button-small|"
                           th:href="@{/item/{id}(id=${item.id})}"
                           th:text="|確認|"></a>
                        <a th:class="|uk-button uk-button-default uk-button-small|"
                           th:href="@{/dashboard/item/{id}/modify(id=${item.id})}"
                           th:text="|編集|"></a>
                        <form th:action="@{/dashboard/item/{id}/delete(id=${item.id})}"
                              th:method="|delete|">
                            <button th:class="|uk-button uk-button-danger uk-button-small|"
                                    th:text="|削除|"
                                    th:type="|submit|"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>
