<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <title th:text="|writory|"></title>
</head>
<body>
<main>
    <form th:action="@{/dashboard/item/{id}(id=${form.id})}"
          th:method="|post|"
          th:object="${form}">
        <div>
            <label th:for="|title|"
                   th:text="|タイトル|"></label>
            <input th:field="*{title}"
                   th:type="|text|">
        </div>
        <div>
            <button th:text="|追加|"
                    th:type="button"
                    th:wr-add="|wr-add|"></button>
        </div>
        <div th:wr-section-list="|section-list|">
            <div th:each="section, iterStat : *{sectionList}">
                <div>
                    <button th:text="|remove|"
                            th:type="button"
                            th:wr-remove="|wr-remove|"></button>
                </div>
                <div>
                    <input th:id="|sectionList[${iterStat.index}].id|"
                           th:name="|sectionList[${iterStat.index}].id|"
                           th:type="|hidden|"
                           th:value="${section.id}">
                </div>
                <div>
                    <label th:for="|sectionList[${iterStat.index}].header|"
                           th:text="|見出し|"></label>
                    <input th:id="|sectionList[${iterStat.index}].header|"
                           th:name="|sectionList[${iterStat.index}].header|"
                           th:type="|text|"
                           th:value="${section.header}">
                </div>
                <div>
                    <label th:for="|sectionList[${iterStat.index}].body|"
                           th:text="|本文|"></label>
                    <input th:id="|sectionList[${iterStat.index}].body|"
                           th:name="|sectionList[${iterStat.index}].body|"
                           th:type="|text|"
                           th:value="${section.body}">
                </div>
                <div>
                    <label th:for="|sectionList[${iterStat.index}].star|"
                           th:text="|お気に入り|"></label>
                    <input th:id="|sectionList[${iterStat.index}].star|"
                           th:name="|sectionList[${iterStat.index}].star|"
                           th:type="|checkbox|"
                           th:value="|${section.star}|">
                </div>
            </div>
        </div>
        <div>
            <button th:text="|追加|"
                    th:type="|submit|"></button>
        </div>
    </form>
</main>
<script th:inline="javascript">
    (() => {
        document.querySelector("[wr-add]").addEventListener("click", () => {
            const section = document.createElement("div");
            section.innerHTML = `<div>
<button type="button"
        wr-remove="wr-remove">削除</button>
</div>
<div>
    <label for="header[0].header">見出し</label>
    <input id="header[0].header"
           name="sectionList[0].header"
           type="text">
</div>
<div>
    <label for="sectionList[0].body">本文</label>
    <input id="sectionList[0].body"
           name="sectionList[0].body"
           type="text">
</div>
<div>
    <label for="sectionList[0].star">お気に入り</label>
    <input id="sectionList[0].star"
           name="sectionList[0].star"
           type="checkbox">
</div>`;
            document.querySelector("[wr-section-list]").appendChild(section);
            Array.from(document.querySelectorAll("[wr-section-list] > div")).forEach((value, index) => {
                Array.from(value.querySelectorAll("[name]")).forEach((v) => {
                    v.setAttribute("name",
                        v.getAttribute("name").replace(/sectionList\[\d+].(\w+)/, "sectionList[" + index + "].$1"));
                });
            });
        });
        document.addEventListener("[wr-remove]", (e) => {
            console.log(e);
            console.log(e.parentElement.parentElement);
            e.parentElement.parentElement.parentElement.removeChild(e.parentElement.parentElement);
        });
    })()
</script>
</body>
</html>
