<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <title th:text="|writory|"></title>
    <th:block th:replace="fragment :: meta"></th:block>
    <th:block th:replace="fragment :: css"></th:block>
    <th:block th:replace="fragment :: js"></th:block>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main>
    <div th:class="|container mt-5 pt-5|">
        <div th:class="|mt-5 pt-5 row|">
            <div th:class="|col mt-5 pt-5|">
                <h1 th:text="|writory|"></h1>
                <p th:text="|わからなくて調べたことを書く、わかったら役に立った情報を残す|"></p>
            </div>
        </div>
        <div th:class="|row mt-3|">
            <div th:class="|col|">
                <a th:class="|btn btn-primary|"
                   th:href="@{/sign-in}"
                   th:text="|サインイン|"></a>
                <a th:class="|btn btn-primary|"
                   th:href="@{/sign-up}"
                   th:text="|サインアップ|"></a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>
