<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="|utf-8|">
    <title th:text="|writory|"></title>
    <th:block th:replace="fragment :: meta"></th:block>
    <th:block th:replace="fragment :: css"></th:block>
    <th:block th:replace="fragment :: js"></th:block>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main th:class="|uk-container|"
      th:uk-height-viewport="|expand: true|">
    <div th:class="|uk-flex uk-flex-center|">
        <div th:class="|uk-flex-none|">
            <h2 th:class="|uk-margin-xlarge-top|"
                th:text="|サインアップ|"></h2>
            <form th:action="@{/sign-up}"
                  th:class="|uk-form-horizontal|"
                  th:method="|post|"
                  th:object="${form}">
                <div th:class="|uk-margin|">
                    <label th:class="|uk-form-label|"
                           th:for="|email|"
                           th:text="|メールアドレス|"></label>
                    <div th:class="|uk-form-controls|">
                        <div th:class="|uk-inline|">
                            <span th:class="|uk-form-icon|"
                                  th:uk-icon="|icon: mail|"></span>
                            <input th:autocomplete="|email|"
                                   th:autofocus="|autofocus|"
                                   th:class="|uk-input|"
                                   th:field="*{email}"
                                   th:type="|email|">
                        </div>
                    </div>
                </div>
                <div th:class="|uk-margin|">
                    <label th:class="|uk-form-label|"
                           th:for="|password|"
                           th:text="|パスワード|"></label>
                    <div th:class="|uk-form-controls|">
                        <div th:class="|uk-inline|">
                            <span th:class="|uk-form-icon|"
                                  th:uk-icon="|icon: lock|"></span>
                            <input th:autocomplete="|new-password|"
                                   th:class="|uk-input|"
                                   th:field="*{password}"
                                   th:type="|password|">
                        </div>
                    </div>
                </div>
                <div th:class="|uk-margin|">
                    <div th:class="|uk-text-right|">
                        <button th:class="|uk-button uk-button-secondary|"
                                th:text="|サインアップ|"
                                th:type="|submit|"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>
